zkreg.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="ZkReg"
 targetNamespace="urn:zkreg"
 xmlns:tns="urn:zkreg"
 xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
 xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:zkreg="urn:zkreg"
 xmlns:zkq="urn:zkquery"
 xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:HTTP="http://schemas.xmlsoap.org/wsdl/http/"
 xmlns:MIME="http://schemas.xmlsoap.org/wsdl/mime/"
 xmlns:DIME="http://schemas.xmlsoap.org/ws/2002/04/dime/wsdl/"
 xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/"
 xmlns="http://schemas.xmlsoap.org/wsdl/">

<types>

 <schema targetNamespace="urn:zkreg"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:zkreg="urn:zkreg"
  xmlns:zkq="urn:zkquery"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified">
  <import namespace="urn:zkquery"/>
  <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
  <simpleType name="Catalog"><!-- zkreg__Catalog -->

   <restriction base="xsd:string">
    <enumeration value="Host"/><!-- zkreg__Catalog::zkreg__Catalog__Host -->
    <!-- = 0 -->
    <enumeration value="Service"/><!-- zkreg__Catalog::zkreg__Catalog__Service -->
    <!-- = 1 -->
    <enumeration value="Device"/><!-- zkreg__Catalog::zkreg__Catalog__Device -->
    <!-- = 2 -->
    <enumeration value="Logic"/><!-- zkreg__Catalog::zkreg__Catalog__Logic -->
    <!-- = 3 -->
   </restriction>
  </simpleType>
  <complexType name="Ips"><!-- zkreg__Ips -->

   <sequence>
    <element name="item" type="xsd:token" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="Urls"><!-- zkreg__Urls -->

   <sequence>
    <element name="item" type="xsd:anyURI" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="Mse"><!-- zkreg__Mse -->

   <sequence>
     <element name="name" type="xsd:token" minOccurs="1" maxOccurs="1" nillable="true"/><!-- zkreg__Mse::name -->
     <element name="catalog" type="zkreg:Catalog" minOccurs="1" maxOccurs="1"/><!-- zkreg__Mse::catalog -->
     <element name="showname" type="xsd:token" minOccurs="0" maxOccurs="1" nillable="true"/><!-- zkreg__Mse::showname -->
   </sequence>
  </complexType>
  <complexType name="Mses"><!-- zkreg__Mses -->

   <sequence>
    <element name="item" type="zkreg:Mse" minOccurs="0" maxOccurs="unbounded" nillable="false"/>
   </sequence>
  </complexType>
  <complexType name="Host"><!-- zkreg__Host -->

   <sequence>
     <element name="name" type="xsd:token" minOccurs="1" maxOccurs="1" nillable="true"/><!-- zkreg__Host::name -->
     <element name="catalog" type="zkreg:Catalog" minOccurs="1" maxOccurs="1"/><!-- zkreg__Host::catalog -->
     <element name="ips" type="zkreg:Ips" minOccurs="1" maxOccurs="1" nillable="true"/><!-- zkreg__Host::ips -->
     <element name="showname" type="xsd:token" minOccurs="0" maxOccurs="1" nillable="true"/><!-- zkreg__Host::showname -->
   </sequence>
  </complexType>
  <complexType name="Hosts"><!-- zkreg__Hosts -->

   <sequence>
    <element name="item" type="zkreg:Host" minOccurs="0" maxOccurs="unbounded" nillable="false"/>
   </sequence>
  </complexType>
  <complexType name="Service"><!-- zkreg__Service -->

   <sequence>
     <element name="name" type="xsd:token" minOccurs="1" maxOccurs="1" nillable="true"/><!-- zkreg__Service::name -->
     <element name="catalog" type="zkreg:Catalog" minOccurs="1" maxOccurs="1"/><!-- zkreg__Service::catalog -->
     <element name="hostname" type="xsd:token" minOccurs="1" maxOccurs="1" nillable="true"/><!-- zkreg__Service::hostname -->
     <element name="type" type="xsd:token" minOccurs="1" maxOccurs="1" nillable="true"/><!-- zkreg__Service::type -->
     <element name="urls" type="zkreg:Urls" minOccurs="1" maxOccurs="1" nillable="true"/><!-- zkreg__Service::urls -->
     <element name="version" type="xsd:token" minOccurs="0" maxOccurs="1" nillable="true"/><!-- zkreg__Service::version -->
     <element name="showname" type="xsd:token" minOccurs="0" maxOccurs="1" nillable="true"/><!-- zkreg__Service::showname -->
   </sequence>
  </complexType>
  <complexType name="Services"><!-- zkreg__Services -->

   <sequence>
    <element name="item" type="zkreg:Service" minOccurs="0" maxOccurs="unbounded" nillable="false"/>
   </sequence>
  </complexType>
  <complexType name="Device"><!-- zkreg__Device -->

   <sequence>
     <element name="name" type="xsd:token" minOccurs="1" maxOccurs="1" nillable="true"/><!-- zkreg__Device::name -->
     <element name="catalog" type="zkreg:Catalog" minOccurs="1" maxOccurs="1"/><!-- zkreg__Device::catalog -->
     <element name="hostname" type="xsd:token" minOccurs="1" maxOccurs="1" nillable="true"/><!-- zkreg__Device::hostname -->
     <element name="type" type="xsd:token" minOccurs="1" maxOccurs="1" nillable="true"/><!-- zkreg__Device::type -->
     <element name="vendor" type="xsd:token" minOccurs="0" maxOccurs="1" nillable="true"/><!-- zkreg__Device::vendor -->
     <element name="model" type="xsd:token" minOccurs="0" maxOccurs="1" nillable="true"/><!-- zkreg__Device::model -->
     <element name="serial" type="xsd:token" minOccurs="0" maxOccurs="1" nillable="true"/><!-- zkreg__Device::serial -->
     <element name="version" type="xsd:token" minOccurs="0" maxOccurs="1" nillable="true"/><!-- zkreg__Device::version -->
     <element name="showname" type="xsd:token" minOccurs="0" maxOccurs="1" nillable="true"/><!-- zkreg__Device::showname -->
   </sequence>
  </complexType>
  <complexType name="Devices"><!-- zkreg__Devices -->

   <sequence>
    <element name="item" type="zkreg:Device" minOccurs="0" maxOccurs="unbounded" nillable="false"/>
   </sequence>
  </complexType>
  <complexType name="Logic"><!-- zkreg__Logic -->

   <sequence>
     <element name="name" type="xsd:token" minOccurs="1" maxOccurs="1" nillable="true"/><!-- zkreg__Logic::name -->
     <element name="catalog" type="zkreg:Catalog" minOccurs="1" maxOccurs="1"/><!-- zkreg__Logic::catalog -->
     <element name="parent" type="zkreg:Mse" minOccurs="0" maxOccurs="1" nillable="true"/><!-- zkreg__Logic::parent -->
     <element name="children" type="zkreg:Mses" minOccurs="0" maxOccurs="1" nillable="true"/><!-- zkreg__Logic::children -->
     <element name="showname" type="xsd:token" minOccurs="0" maxOccurs="1" nillable="true"/><!-- zkreg__Logic::showname -->
   </sequence>
  </complexType>
  <complexType name="Logics"><!-- zkreg__Logics -->

   <sequence>
    <element name="item" type="zkreg:Logic" minOccurs="0" maxOccurs="unbounded" nillable="false"/>
   </sequence>
  </complexType>
  <element name="regHostReq" type="zkreg:Host"/>
  <element name="unRegHosttoken" type="xsd:token"/>
  <element name="regServiceReq" type="zkreg:Service"/>
  <element name="unregServicetoken" type="xsd:token"/>
  <element name="regDeviceReq" type="zkreg:Device"/>
  <element name="unregDevcietoken" type="xsd:token"/>
  <element name="heartBeattoken" type="xsd:token"/>
  <element name="setShowNameReq" type="xsd:token"/>
  <!-- operation request element -->
  <element name="regHost">
   <complexType>
    <sequence>
     <element ref="zkreg:regHostReq" minOccurs="0" maxOccurs="1"/><!-- zkreg__regHost::zkreg__regHostReq -->
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="regHostResponse">
   <complexType>
    <sequence>
     <element name="token" type="xsd:token" minOccurs="0" maxOccurs="1" nillable="true"/><!-- zkreg__regHost::token -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="unregHost">
   <complexType>
    <sequence>
     <element ref="zkreg:unRegHosttoken" minOccurs="0" maxOccurs="1"/><!-- zkreg__unregHost::zkreg__unRegHosttoken -->
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="unregHostResponse">
   <complexType>
    <sequence>
     <element name="code" type="xsd:int" minOccurs="0" maxOccurs="1" nillable="true"/><!-- zkreg__unregHost::code -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="regService">
   <complexType>
    <sequence>
     <element ref="zkreg:regServiceReq" minOccurs="0" maxOccurs="1"/><!-- zkreg__regService::zkreg__regServiceReq -->
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="regServiceResponse">
   <complexType>
    <sequence>
     <element name="token" type="xsd:token" minOccurs="0" maxOccurs="1" nillable="true"/><!-- zkreg__regService::token -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="unregService">
   <complexType>
    <sequence>
     <element ref="zkreg:unregServicetoken" minOccurs="0" maxOccurs="1"/><!-- zkreg__unregService::zkreg__unregServicetoken -->
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="unregServiceResponse">
   <complexType>
    <sequence>
     <element name="code" type="xsd:int" minOccurs="0" maxOccurs="1" nillable="true"/><!-- zkreg__unregService::code -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="regDevice">
   <complexType>
    <sequence>
     <element ref="zkreg:regDeviceReq" minOccurs="0" maxOccurs="1"/><!-- zkreg__regDevice::zkreg__regDeviceReq -->
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="regDeviceResponse">
   <complexType>
    <sequence>
     <element name="token" type="xsd:token" minOccurs="0" maxOccurs="1" nillable="true"/><!-- zkreg__regDevice::token -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="unregDevice">
   <complexType>
    <sequence>
     <element ref="zkreg:unregDevcietoken" minOccurs="0" maxOccurs="1"/><!-- zkreg__unregDevice::zkreg__unregDevcietoken -->
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="unregDeviceResponse">
   <complexType>
    <sequence>
     <element name="code" type="xsd:int" minOccurs="0" maxOccurs="1" nillable="true"/><!-- zkreg__unregDevice::code -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="heartBeat">
   <complexType>
    <sequence>
     <element ref="zkreg:heartBeattoken" minOccurs="0" maxOccurs="1"/><!-- zkreg__heartBeat::zkreg__heartBeattoken -->
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="heartBeatResponse">
   <complexType>
    <sequence>
     <element name="code" type="xsd:int" minOccurs="0" maxOccurs="1" nillable="true"/><!-- zkreg__heartBeat::code -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="setShowName">
   <complexType>
    <sequence>
     <element ref="zkreg:setShowNameReq" minOccurs="0" maxOccurs="1"/><!-- zkreg__setShowName::zkreg__setShowNameReq -->
     <element name="showname" type="xsd:token" minOccurs="0" maxOccurs="1" nillable="true"/><!-- zkreg__setShowName::showname -->
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="setShowNameResponse">
   <complexType>
    <sequence>
     <element name="code" type="xsd:int" minOccurs="0" maxOccurs="1" nillable="true"/><!-- zkreg__setShowName::code -->
    </sequence>
   </complexType>
  </element>
 </schema>

 <schema targetNamespace="urn:zkquery"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:zkreg="urn:zkreg"
  xmlns:zkq="urn:zkquery"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified">
  <import namespace="urn:zkreg"/>
  <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
  <complexType name="Ips"><!-- zkreg__Ips -->

   <sequence>
    <element name="item" type="xsd:token" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="Urls"><!-- zkreg__Urls -->

   <sequence>
    <element name="item" type="xsd:anyURI" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="Mses"><!-- zkreg__Mses -->

   <sequence>
    <element name="item" type="zkreg:Mse" minOccurs="0" maxOccurs="unbounded" nillable="false"/>
   </sequence>
  </complexType>
  <complexType name="Hosts"><!-- zkreg__Hosts -->

   <sequence>
    <element name="item" type="zkreg:Host" minOccurs="0" maxOccurs="unbounded" nillable="false"/>
   </sequence>
  </complexType>
  <complexType name="Services"><!-- zkreg__Services -->

   <sequence>
    <element name="item" type="zkreg:Service" minOccurs="0" maxOccurs="unbounded" nillable="false"/>
   </sequence>
  </complexType>
  <complexType name="Devices"><!-- zkreg__Devices -->

   <sequence>
    <element name="item" type="zkreg:Device" minOccurs="0" maxOccurs="unbounded" nillable="false"/>
   </sequence>
  </complexType>
  <complexType name="Logics"><!-- zkreg__Logics -->

   <sequence>
    <element name="item" type="zkreg:Logic" minOccurs="0" maxOccurs="unbounded" nillable="false"/>
   </sequence>
  </complexType>
  <element name="getAllMsesoffline" type="xsd:boolean"/>
  <element name="getAllHostsoffline" type="xsd:boolean"/>
  <element name="getAllServiceoffline" type="xsd:boolean"/>
  <element name="getAllDevicesoffline" type="xsd:boolean"/>
  <element name="getAllLogicsoffline" type="xsd:boolean"/>
  <element name="getServiceByTypeoffline" type="xsd:boolean"/>
 </schema>

</types>

<message name="regHostRequest">
 <part name="Body" element="zkreg:regHost"/><!-- zkreg__regHost::zkreg__regHost -->
</message>

<message name="regHostResponse">
 <part name="Body" element="zkreg:regHostResponse"/>
</message>

<message name="unregHostRequest">
 <part name="Body" element="zkreg:unregHost"/><!-- zkreg__unregHost::zkreg__unregHost -->
</message>

<message name="unregHostResponse">
 <part name="Body" element="zkreg:unregHostResponse"/>
</message>

<message name="regServiceRequest">
 <part name="Body" element="zkreg:regService"/><!-- zkreg__regService::zkreg__regService -->
</message>

<message name="regServiceResponse">
 <part name="Body" element="zkreg:regServiceResponse"/>
</message>

<message name="unregServiceRequest">
 <part name="Body" element="zkreg:unregService"/><!-- zkreg__unregService::zkreg__unregService -->
</message>

<message name="unregServiceResponse">
 <part name="Body" element="zkreg:unregServiceResponse"/>
</message>

<message name="regDeviceRequest">
 <part name="Body" element="zkreg:regDevice"/><!-- zkreg__regDevice::zkreg__regDevice -->
</message>

<message name="regDeviceResponse">
 <part name="Body" element="zkreg:regDeviceResponse"/>
</message>

<message name="unregDeviceRequest">
 <part name="Body" element="zkreg:unregDevice"/><!-- zkreg__unregDevice::zkreg__unregDevice -->
</message>

<message name="unregDeviceResponse">
 <part name="Body" element="zkreg:unregDeviceResponse"/>
</message>

<message name="heartBeatRequest">
 <part name="Body" element="zkreg:heartBeat"/><!-- zkreg__heartBeat::zkreg__heartBeat -->
</message>

<message name="heartBeatResponse">
 <part name="Body" element="zkreg:heartBeatResponse"/>
</message>

<message name="setShowNameRequest">
 <part name="Body" element="zkreg:setShowName"/><!-- zkreg__setShowName::zkreg__setShowName -->
</message>

<message name="setShowNameResponse">
 <part name="Body" element="zkreg:setShowNameResponse"/>
</message>

<portType name="ZkReg">
 <operation name="regHost">
  <documentation>Service definition of function zkreg__regHost</documentation>
  <input message="tns:regHostRequest"/>
  <output message="tns:regHostResponse"/>
 </operation>
 <operation name="unregHost">
  <documentation>Service definition of function zkreg__unregHost</documentation>
  <input message="tns:unregHostRequest"/>
  <output message="tns:unregHostResponse"/>
 </operation>
 <operation name="regService">
  <documentation>Service definition of function zkreg__regService</documentation>
  <input message="tns:regServiceRequest"/>
  <output message="tns:regServiceResponse"/>
 </operation>
 <operation name="unregService">
  <documentation>Service definition of function zkreg__unregService</documentation>
  <input message="tns:unregServiceRequest"/>
  <output message="tns:unregServiceResponse"/>
 </operation>
 <operation name="regDevice">
  <documentation>Service definition of function zkreg__regDevice</documentation>
  <input message="tns:regDeviceRequest"/>
  <output message="tns:regDeviceResponse"/>
 </operation>
 <operation name="unregDevice">
  <documentation>Service definition of function zkreg__unregDevice</documentation>
  <input message="tns:unregDeviceRequest"/>
  <output message="tns:unregDeviceResponse"/>
 </operation>
 <operation name="heartBeat">
  <documentation>Service definition of function zkreg__heartBeat</documentation>
  <input message="tns:heartBeatRequest"/>
  <output message="tns:heartBeatResponse"/>
 </operation>
 <operation name="setShowName">
  <documentation>Service definition of function zkreg__setShowName</documentation>
  <input message="tns:setShowNameRequest"/>
  <output message="tns:setShowNameResponse"/>
 </operation>
</portType>

<binding name="ZkReg" type="tns:ZkReg">
 <SOAP:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
 <operation name="regHost">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="Body" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="Body" use="literal"/>
  </output>
 </operation>
 <operation name="unregHost">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="Body" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="Body" use="literal"/>
  </output>
 </operation>
 <operation name="regService">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="Body" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="Body" use="literal"/>
  </output>
 </operation>
 <operation name="unregService">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="Body" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="Body" use="literal"/>
  </output>
 </operation>
 <operation name="regDevice">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="Body" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="Body" use="literal"/>
  </output>
 </operation>
 <operation name="unregDevice">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="Body" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="Body" use="literal"/>
  </output>
 </operation>
 <operation name="heartBeat">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="Body" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="Body" use="literal"/>
  </output>
 </operation>
 <operation name="setShowName">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="Body" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="Body" use="literal"/>
  </output>
 </operation>
</binding>

<service name="ZkReg">
 <documentation>gSOAP 2.8.17r generated service definition</documentation>
 <port name="ZkReg" binding="tns:ZkReg">
  <SOAP:address location="http://localhost:80"/>
 </port>
</service>

</definitions>
