zkreg.xsd

<?xml version="1.0" encoding="UTF-8"?>
 <schema targetNamespace="http://www.zonekey.com/sysmgrt/register"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:zkreg="http://www.zonekey.com/sysmgrt/register"
  xmlns:zkq="http://www.zonekey.com/sysmgrt/query"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="qualified"
  attributeFormDefault="qualified">
  <import namespace="http://www.zonekey.com/sysmgrt/query"/>
  <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
  <simpleType name="Catalog"><!-- zkreg__Catalog -->

   <restriction base="xsd:string">
    <enumeration value="Host"/><!-- zkreg__Catalog::zkreg__Catalog__Host -->
    <!-- = 0 -->
    <enumeration value="Service"/><!-- zkreg__Catalog::zkreg__Catalog__Service -->
    <!-- = 1 -->
    <enumeration value="Device"/><!-- zkreg__Catalog::zkreg__Catalog__Device -->
    <!-- = 2 -->
    <enumeration value="Logic"/><!-- zkreg__Catalog::zkreg__Catalog__Logic -->
    <!-- = 3 -->
   </restriction>
  </simpleType>
  <complexType name="Ips"><!-- zkreg__Ips -->

   <sequence>
    <element name="item" type="xsd:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="Urls"><!-- zkreg__Urls -->

   <sequence>
    <element name="item" type="xsd:anyURI" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="Mse"><!-- zkreg__Mse -->

   <sequence>
     <element name="name" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/><!-- zkreg__Mse::name -->
     <element name="catalog" type="zkreg:Catalog" minOccurs="1" maxOccurs="1"/><!-- zkreg__Mse::catalog -->
     <element name="showname" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- zkreg__Mse::showname -->
   </sequence>
  </complexType>
  <complexType name="Mses"><!-- zkreg__Mses -->

   <sequence>
    <element name="item" type="zkreg:Mse" minOccurs="0" maxOccurs="unbounded" nillable="false"/>
   </sequence>
  </complexType>
  <complexType name="Host"><!-- zkreg__Host -->

   <sequence>
     <element name="name" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/><!-- zkreg__Host::name -->
     <element name="catalog" type="zkreg:Catalog" minOccurs="1" maxOccurs="1"/><!-- zkreg__Host::catalog -->
     <element name="ips" type="zkreg:Ips" minOccurs="1" maxOccurs="1" nillable="true"/><!-- zkreg__Host::ips -->
     <element name="showname" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- zkreg__Host::showname -->
   </sequence>
  </complexType>
  <complexType name="Hosts"><!-- zkreg__Hosts -->

   <sequence>
    <element name="item" type="zkreg:Host" minOccurs="0" maxOccurs="unbounded" nillable="false"/>
   </sequence>
  </complexType>
  <complexType name="Service"><!-- zkreg__Service -->

   <sequence>
     <element name="name" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/><!-- zkreg__Service::name -->
     <element name="catalog" type="zkreg:Catalog" minOccurs="1" maxOccurs="1"/><!-- zkreg__Service::catalog -->
     <element name="hostname" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/><!-- zkreg__Service::hostname -->
     <element name="type" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/><!-- zkreg__Service::type -->
     <element name="urls" type="zkreg:Urls" minOccurs="1" maxOccurs="1" nillable="true"/><!-- zkreg__Service::urls -->
     <element name="version" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- zkreg__Service::version -->
     <element name="showname" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- zkreg__Service::showname -->
   </sequence>
  </complexType>
  <complexType name="Services"><!-- zkreg__Services -->

   <sequence>
    <element name="item" type="zkreg:Service" minOccurs="0" maxOccurs="unbounded" nillable="false"/>
   </sequence>
  </complexType>
  <complexType name="Device"><!-- zkreg__Device -->

   <sequence>
     <element name="name" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/><!-- zkreg__Device::name -->
     <element name="catalog" type="zkreg:Catalog" minOccurs="1" maxOccurs="1"/><!-- zkreg__Device::catalog -->
     <element name="hostname" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/><!-- zkreg__Device::hostname -->
     <element name="type" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/><!-- zkreg__Device::type -->
     <element name="vendor" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- zkreg__Device::vendor -->
     <element name="model" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- zkreg__Device::model -->
     <element name="serial" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- zkreg__Device::serial -->
     <element name="version" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- zkreg__Device::version -->
     <element name="showname" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- zkreg__Device::showname -->
   </sequence>
  </complexType>
  <complexType name="Devices"><!-- zkreg__Devices -->

   <sequence>
    <element name="item" type="zkreg:Device" minOccurs="0" maxOccurs="unbounded" nillable="false"/>
   </sequence>
  </complexType>
  <complexType name="Logic"><!-- zkreg__Logic -->

   <sequence>
     <element name="name" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/><!-- zkreg__Logic::name -->
     <element name="catalog" type="zkreg:Catalog" minOccurs="1" maxOccurs="1"/><!-- zkreg__Logic::catalog -->
     <element name="parent" type="zkreg:Mse" minOccurs="0" maxOccurs="1" nillable="true"/><!-- zkreg__Logic::parent -->
     <element name="children" type="zkreg:Mses" minOccurs="0" maxOccurs="1" nillable="true"/><!-- zkreg__Logic::children -->
     <element name="showname" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- zkreg__Logic::showname -->
   </sequence>
  </complexType>
  <complexType name="Logics"><!-- zkreg__Logics -->

   <sequence>
    <element name="item" type="zkreg:Logic" minOccurs="0" maxOccurs="unbounded" nillable="false"/>
   </sequence>
  </complexType>
  <element name="regHostReq" type="zkreg:Host"/>
  <element name="unRegHoststring" type="xsd:string"/>
  <element name="regServiceReq" type="zkreg:Service"/>
  <element name="unregServicestring" type="xsd:string"/>
  <element name="regDeviceReq" type="zkreg:Device"/>
  <element name="unregDevciestring" type="xsd:string"/>
  <element name="heartBeatstring" type="xsd:string"/>
  <element name="setShowNameReq" type="xsd:string"/>
  <!-- operation request element -->
  <element name="regHost">
   <complexType>
    <sequence>
     <element ref="zkreg:regHostReq" minOccurs="0" maxOccurs="1"/><!-- zkreg__regHost::zkreg__regHostReq -->
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="regHostResponse">
   <complexType>
    <sequence>
     <element name="token" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- zkreg__regHost::token -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="unregHost">
   <complexType>
    <sequence>
     <element ref="zkreg:unRegHoststring" minOccurs="0" maxOccurs="1"/><!-- zkreg__unregHost::zkreg__unRegHoststring -->
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="unregHostResponse">
   <complexType>
    <sequence>
     <element name="code" type="xsd:int" minOccurs="0" maxOccurs="1" nillable="true"/><!-- zkreg__unregHost::code -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="regService">
   <complexType>
    <sequence>
     <element ref="zkreg:regServiceReq" minOccurs="0" maxOccurs="1"/><!-- zkreg__regService::zkreg__regServiceReq -->
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="regServiceResponse">
   <complexType>
    <sequence>
     <element name="token" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- zkreg__regService::token -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="unregService">
   <complexType>
    <sequence>
     <element ref="zkreg:unregServicestring" minOccurs="0" maxOccurs="1"/><!-- zkreg__unregService::zkreg__unregServicestring -->
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="unregServiceResponse">
   <complexType>
    <sequence>
     <element name="code" type="xsd:int" minOccurs="0" maxOccurs="1" nillable="true"/><!-- zkreg__unregService::code -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="regDevice">
   <complexType>
    <sequence>
     <element ref="zkreg:regDeviceReq" minOccurs="0" maxOccurs="1"/><!-- zkreg__regDevice::zkreg__regDeviceReq -->
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="regDeviceResponse">
   <complexType>
    <sequence>
     <element name="token" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- zkreg__regDevice::token -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="unregDevice">
   <complexType>
    <sequence>
     <element ref="zkreg:unregDevciestring" minOccurs="0" maxOccurs="1"/><!-- zkreg__unregDevice::zkreg__unregDevciestring -->
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="unregDeviceResponse">
   <complexType>
    <sequence>
     <element name="code" type="xsd:int" minOccurs="0" maxOccurs="1" nillable="true"/><!-- zkreg__unregDevice::code -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="heartBeat">
   <complexType>
    <sequence>
     <element ref="zkreg:heartBeatstring" minOccurs="0" maxOccurs="1"/><!-- zkreg__heartBeat::zkreg__heartBeatstring -->
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="heartBeatResponse">
   <complexType>
    <sequence>
     <element name="code" type="xsd:int" minOccurs="0" maxOccurs="1" nillable="true"/><!-- zkreg__heartBeat::code -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="setShowName">
   <complexType>
    <sequence>
     <element ref="zkreg:setShowNameReq" minOccurs="0" maxOccurs="1"/><!-- zkreg__setShowName::zkreg__setShowNameReq -->
     <element name="showname" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- zkreg__setShowName::showname -->
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="setShowNameResponse">
   <complexType>
    <sequence>
     <element name="code" type="xsd:int" minOccurs="0" maxOccurs="1" nillable="true"/><!-- zkreg__setShowName::code -->
    </sequence>
   </complexType>
  </element>
 </schema>

